In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'A' : range(1,11), 'B':np.random.randn(10)})

In [3]:
df

    A         B
0   1  2.785201
1   2  0.595820
2   3 -0.259387
3   4 -0.150460
4   5 -0.473861
5   6 -0.099583
6   7 -0.142843
7   8  0.520608
8   9  0.399816
9  10 -0.716995

In [4]:
df.assign(ln_A = lambda x: np.log(x.A)).head()

   A         B      ln_A
0  1  2.785201  0.000000
1  2  0.595820  0.693147
2  3 -0.259387  1.098612
3  4 -0.150460  1.386294
4  5 -0.473861  1.609438

In [7]:
df["ln_A"] = np.log(df.A)
df

    A         B      ln_A
0   1  2.785201  0.000000
1   2  0.595820  0.693147
2   3 -0.259387  1.098612
3   4 -0.150460  1.386294
4   5 -0.473861  1.609438
5   6 -0.099583  1.791759
6   7 -0.142843  1.945910
7   8  0.520608  2.079442
8   9  0.399816  2.197225
9  10 -0.716995  2.302585

In [17]:
#n = 2만큼 구간을 구분짓기
pd.qcut(df.B, 2, labels=["good", "bad"])

0     bad
1     bad
2    good
3    good
4    good
5     bad
6    good
7     bad
8     bad
9    good
Name: B, dtype: category
Categories (2, object): [good < bad]

In [12]:
df.max(axis=0)

A       10.000000
B        2.785201
ln_A     2.302585
dtype: float64

In [13]:
df.min(axis=0)

A       1.000000
B      -0.716995
ln_A    0.000000
dtype: float64

In [14]:
df.head()

   A         B      ln_A
0  1  2.785201  0.000000
1  2  0.595820  0.693147
2  3 -0.259387  1.098612
3  4 -0.150460  1.386294
4  5 -0.473861  1.609438

In [15]:
df["B"].clip(lower=1,upper=3)

0    2.785201
1    1.000000
2    1.000000
3    1.000000
4    1.000000
5    1.000000
6    1.000000
7    1.000000
8    1.000000
9    1.000000
Name: B, dtype: float64

In [16]:
df["B"].abs()

0    2.785201
1    0.595820
2    0.259387
3    0.150460
4    0.473861
5    0.099583
6    0.142843
7    0.520608
8    0.399816
9    0.716995
Name: B, dtype: float64