In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    index = [1, 2, 3])

#abc 컬럼
#123 인덱스(로우)

In [4]:
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [5]:
#특정 컬럼만 가져오기
df["a"]

1    4
2    5
3    6
Name: a, dtype: int64

In [6]:
# 1번째 인덱스(로우) 기져오기
df.loc[1]

a     4
b     7
c    10
Name: 1, dtype: int64

In [7]:
#복수개컬럼 가져오기
df[["a","b"]]

   a  b
1  4  7
2  5  8
3  6  9

In [8]:
df.loc[3]

a     6
b     9
c    12
Name: 3, dtype: int64

In [9]:
#행 열 순으로 가져오기

In [10]:
df.loc[3,"a"]

6

In [11]:
#여러개의 행과 열을 가져올 경우 리스트로 가져오기
df.loc[[1,2],["a","b"]]

   a  b
1  4  7
2  5  8

In [12]:
#인덱스와 컬럼을 별로 분리해서 선언해주기
df = pd.DataFrame(
    [[4, 7, 10],
    [5, 8, 11],
    [6, 9, 12]],
    index=[1, 2, 3],
    #컬럼으로 변경
    columns=['a', 'b', 'c'])
df

   a  b   c
1  4  7  10
2  5  8  11
3  6  9  12

In [13]:
#인덱스가 두개인 경우
df = pd.DataFrame(
    {"a" : [4 ,5, 6],
    "b" : [7, 8, 9],
    "c" : [10, 11, 12]},
    #멀티 인덱스 튜플로 지정해줌.
    #튜플 데이터 타입 사용함.
    index = pd.MultiIndex.from_tuples(
    [('d',1),('d',2),('e',2)],
    names=['n','v']))

df

     a  b   c
n v
d 1  4  7  10
  2  5  8  11
e 2  6  9  12

In [14]:
# test

In [15]:
#test2